body {
	background-image: url(../images/background-image.jpg);
	background-size: cover;
}

#div_changePassword {
	background-color: rgba(0, 0, 0, 0.5);
	width: 700px;
	height: 500px;
	border-radius: 20px;
	margin: 70px auto 0;
	padding: 50px 100px;
}
.div_changePassword_textdiv {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	/*position: relative;
	left: -150px;*/
}